<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097896663671-2lvgr1p0r986373vouofudcak76out24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097896663671-2lvgr1p0r986373vouofudcak76out24</string>
	<key>API_KEY</key>
	<string>AIzaSyBUo3pm4Tf3RZEN77wrwrAmhMk9y-xixPA</string>
	<key>GCM_SENDER_ID</key>
	<string>1097896663671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alhuruf.arabic.quran.tajweed</string>
	<key>PROJECT_ID</key>
	<string>al-huruf</string>
	<key>STORAGE_BUCKET</key>
	<string>al-huruf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097896663671:ios:30e3771204f31cb1aa4472</string>
</dict>
</plist>